.Rectangle {
  width: 680px;
  height: 796px;
  padding: 40px 40px 53px;
  background-color: #f7f7f7;
}
.Rectangle-Copy {
  width: 600px;
  height: 589px;
  margin: 0 0 50px;
  padding: 0 0 82px;
  background-color: #ffffff;
}
.Think-like-a-compute {
  width: 222px;
  height: 14px;
  margin: 49px 11px 28px;
  font-family: Norwester;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #211f1f;
}
.Enhance {
  width: 200px;
  height: 57px;
  margin: 0 9px 0 0;
  font-family: HelveticaNeue;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #211f1f;
}
.realign-logo-copy {
  width: 51px;
  height: 37px;
  margin: 10px 0 10px 9px;
  background-color: #211f1f;
}
.Welcome-to-Enahnce42 {
  width: 171px;
  height: 18px;
  margin: 0 277px 25px 0;
  font-family: Norwester;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #211f1f;
}
.Hi-xxxx-Welcome-to {
  width: 448px;
  height: 90px;
  margin: 25px 0 15px;
  opacity: 0.54;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #211f1f;
}
.Sign-in-to-your-acco {
  width: 325px;
  height: 30px;
  margin: 15px 123px 15px 0;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #211f1f;
}
.We-hope-you-enjoy-th {
  width: 448px;
  height: 90px;
  margin: 15px 0 0;
  opacity: 0.54;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #211f1f;
}
.Trouble-seeing-this {
  width: 350px;
  height: 15px;
  margin: 0 95px 11px;
  opacity: 0.5;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #211f1f;
}
.Trouble-seeing-this {
  width: 350px;
  height: 15px;
  margin: 0 95px 11px;
  opacity: 0.5;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #211f1f;
}
.Bitmap {
  width: 15px;
  height: 15px;
  margin: 1px 79px 0 111px;
  opacity: 0.5;
}
.This-email-was-sent {
  width: 540px;
  height: 12px;
  margin: 10px 0 0;
  opacity: 0.5;
  font-family: Lato;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #211f1f;
}

